.formContainer {
  margin: auto;
  width: 40%;
  background-color: white;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .formContainer {
    width: 90%;
    max-width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 80%;
  width: 100%;
}

.form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  outline: none;
  font-size: inherit;
  transition: 0.3s;
  font-weight: bold;
  font-family: inherit;
}

.form input[aria-invalid="true"] {
  border: 1px solid red;
}

.form input:focus {
  box-shadow: 0 0 5px #ccc;
}

.error {
  color: red;
}
